/* highlights */
.highlight-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.highlight-container p {
  color: var(--secondary-color);
  font-size: 1.5em;
}

.highlight-container .major {
  color: var(--secondary-color);
  font-size: 3em;
}

/* end of highlights */

