/* highlights */
.highlight-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.highlight-container .major {
  color: var(--secondary-color);
  font-size: 3em;
}


/* card */

.card-container {
  background-color: var(--secondary-transpo-color);
  border: solid var(--secondary-transpo-color) 5px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 10px;

  box-sizing: border-box;
}


.card-container:hover {
  cursor: pointer;
  /* background-color: green; */
  border: solid var(--secondary-color) 5px;
  border-right: none;
  border-left: none;
  border-top: none;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.4em;
}

.card-body-content {
  margin-top: 15px;
}

.card-body-content p {
  font-size: 1.2em;
}

/* services */

.details-container {
  margin-top: 70px;
  margin-bottom: 70px;
}

.service-content {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 30px;
}

.all-title {
  text-align: center;
  margin-bottom:30px;
}

.box {
  flex: 1 1 calc(30% - 10px); /* default: 3 cards per row */
  height: 350px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.skill-list {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  gap: 10px;
  text-align: center;
}


.skill-logo {
  height: 50px;
  width: 50px;
}



.singular-card {
  padding: 20px;
  margin-bottom: 10px;
  flex: 1 1 calc(16.66% - 10px);
  box-sizing: border-box;
}

.singular-card p {
  font-size: 2em;
  font-weight: bold;
}

.skills-container p {
  font-size: 1.5em;
}


/* form */
.form-container {
  margin-top: 100px;
  margin-bottom: 100px;
  border: solid var(--white-opac-color) 0.1px;
  border-right: none;
  border-left: none;
  border-top: none;
  text-align: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-row {
  display: flex;
  gap: 30px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  display: none; 
}

input,
textarea {
  background-color: transparent;
  border: 1px solid var(--white-opac-color);
  padding: 10px;
  color: var(--white-color);
  font-size: 1rem;
}

input {
  border-right: none;
  border-left: none;
  border-top: none;
}

textarea {
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
  color: var(--white-opac-color);
}

textarea {
  resize: none;
}

.submit-btn {
  background-color: var(--secondary-color);
  color: var(--white-color);
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

#first-name, 
#last-name, 
#email, 
#phone {
  width: 300px;
}

.media-container {
  display: flex;
  align-items: center;
}

.media-group {
  display: flex;
  align-items: center;
}


/* footer */
footer {
  text-align: center;
}
footer p {
  color: var(--footer-color);
  margin-bottom: 150px;
}

/* different screens */
@media (max-width: 768px) {
  .box {
      flex: 1 1 calc(50% - 10px); /* 2 card per row */
  }

  .singular-card {
    flex: 1 1 calc(30% - 10px); /* 2 card per row */
  }

  .form-row {
    flex-direction: column;
  }

  .left-liner h1 {
    display: inline;
  }

  .liner-container {
    flex-direction: column;

  }

  .imagery {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .details-btn {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .imagery {
    width: 100% !important;
  }

  .imagery img {
    transform: none !important;
    height: 450px !important;
    width: 400px !important;
    border: none !important;
  }

  .hub {
    display: none;
  }

  .about {
    font-size: 1.2rem;
  }
  

}

@media (max-width: 600px) {
  .box {
      flex: 1 1 100% !important; /* a card per row */
  }

  .singular-card {
    flex: 1 1 calc(50% - 10px); /* a card per row */
  }
}















/* svg icon rotation */
/* .rotate-svg {
  animation: blink 0.3s step-start infinite;
} */

/* @keyframes blink {
  0%, 50% {
      opacity: 1; 
  }
  51%, 100% {
      opacity: 0;
  }
} */


