/* highlights */
.highlight-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.highlight-container p {
  color: var(--secondary-color);
  font-size: 1.5em;
}

.highlight-container .major {
  color: var(--secondary-color);
  font-size: 3em;
}

/* end of highlights */


/* card */
.card-container {
  display: flex;
  background-color: var(--secondary-transpo-color);
  padding: 25px;
  border: solid var(--secondary-transpo-color) 5px;
  border-right: none;
  border-left: none;
  border-top: none;
  align-items: center;
}

.card-container:hover {
  border: solid var(--secondary-color) 5px;
  border-right: none;
  border-left: none;
  border-top: none;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.4em;
}

.card-body-content {
  margin-top: 15px;
}

.card-body-content p {
  font-size: 1.2em;
  /* text-align: justify; */
}

/* card ends here */


/* services */

.services h1 {
  text-align: center;
  margin-bottom: 30px;
}

.service-content {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 30px;
}

.box {
  flex: 1 1 calc(30% - 10px); /* 3 items per row by default */
  height: 350px;
  padding: 20px;
  /* text-align: center; */
  border-radius: 5px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .box {
      flex: 1 1 calc(50% - 10px); /* 2 items per row on medium screens */
  }
}

@media (max-width: 480px) {
  .box {
      flex: 1 1 100%; /* 1 item per row on small screens */
  }
}















/* svg icon rotation */
.rotate-svg {
  animation: blink 0.3s step-start infinite;
}

@keyframes blink {
  0%, 50% {
      opacity: 1; /* Visible */
  }
  51%, 100% {
      opacity: 0; /* Hidden */
  }
}

