:root {
    /* color palette */
    --primary-color: #12061d;
    --secondary-color: #7200dd;
    --secondary-opac-color: #7200ddbe;
    --secondary-dark-color: #2e0059;
    --white-color: #cecece;
    --white-opac-color: #cecece28;
    --white-opac-dark-color: #cecece8c;
    --footer-color: #cececea1;
    --secondary-transpo-color: #1c1622c0;
}