@media (max-width: 980px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
    font-size: 1.2rem;
    }

    .left-liner {
      width: 100% !important; /*reseting left liner width back to 100 from 50*/
    }

    .bar a {
        margin: 0px;
    }

    .icon {
      display: block !important;
    }

    .bar {
        display: flex;
        flex-direction: column;
        background-color: var(--secondary-transpo-color);
        gap: 18px;
        padding: 20px 40px;
        position: absolute;
        right: 1%;
        top: 8%;
        z-index: 10;
    }

    .bar.active {
        display: none;
    }

    .liner-container {
        flex-direction: column;
      }

    .box {
        flex: 1 1 calc(30% - 10px); /* 2 card per row */
    }

    .imagery img {
        height: 300px !important;
        width: 250px !important;
    }
    
    .main-container {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    .left-liner {
      margin-right: 0 !important;
    }
}

@media (max-width: 1050px) {
  .imagery img {
    height: 450px !important;
    width: 400px !important;
    border: none !important;
  }
}

@media (max-width: 1185px) {
    h1 {
        font-size: 2.5rem;
      }
    
      h2 {
        font-size: 1.5rem;
      }
    
      h3 {
        font-size: 1.25rem;
      }
    
      h4 {
        font-size: 1rem;
      }
    
      p {
        font-size: 0.875;
      }
    
      nav p, nav a {
        font-size: 1rem;
      }
  }

@media (max-width: 768px) {
    .box {
        flex: 1 1 calc(50% - 10px); /* 2 card per row */
    }
  
    .singular-card {
      flex: 1 1 calc(30% - 10px); /* 2 card per row */
    }
  
    .form-row {
      flex-direction: column;
    }
  
    .left-liner h1 {
      display: inline;
    }
  
    .imagery {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
  
    .details-btn {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  
    .hub {
      display: none;
    }
  
    .about {
      font-size: 1.2rem;
    }
    
  
  }
  
  @media (max-width: 600px) {
    .box {
        flex: 1 1 100% !important; /* a card per row */
    }
  
    .singular-card {
      flex: 1 1 calc(50% - 10px); /* a card per row */
    }
  
  }
  
  