* {
    margin: 0;
    padding: 0;
    color: var(--white-color);
}

body {
    background-color: var(--primary-color);
    font-size: 1em;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background: radial-gradient(circle, var(--primary-color) 90%, transparent 100%), 
              linear-gradient(to right, var(--secondary-opac-color), var(--primary-color) 90%, var(--primary-color) 50%, var(--secondary-opac-color));
    background-size: 100% 100%; 
    background-repeat: no-repeat; */
}

.main-container {
    margin-left: 15%;
    margin-right: 15%;
}

a {
    text-decoration: none;
    font-size: 18px;
}

button, #hire {
    padding: 10px 25px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
    border: none;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
  }