* {
    margin: 0;
    padding: 0;
    color: var(--white-color);
}

body {
    background-color: var(--primary-color);
    font-size: 1em;
    font-family: Arial, sans-serif;
}

.main-container {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

button, #hire {
    padding: 10px 25px;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
    border: none;
}

button, #hire {
    font-weight: 700;
    background-color: var(--secondary-color);
    color: var(--white-color);
}

button:hover, #hire:hover {
    background:  linear-gradient(to right, var(--secondary-dark-color) 60%, var(--secondary-color));;
    cursor: pointer;
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 0.875;
  }

  nav p, nav a {
    font-size: 1rem;
  }

  .about {
    text-align: justify;
    /* width: 600px; */
    /* margin-right: 100px; */
  }


  @media (max-width: 1185px) {
    h1 {
        font-size: 2.5rem;
      }
    
      h2 {
        font-size: 1.5rem;
      }
    
      h3 {
        font-size: 1.25rem;
      }
    
      h4 {
        font-size: 1rem;
      }
    
      p {
        font-size: 0.875;
      }
    
      nav p, nav a {
        font-size: 1rem;
      }
  }